@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

body {
  font-family: 'Poppins', sans-serif;
}
